<main>
    <!--FAQ section-->
    <div class="container-sm">
      <div class="text-light text-center m-3"><h1>FAQ</h1></div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item m-3">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Why do we not have more leagues?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>We are poor and can not afford a better API, otherwise we would have gotten the German league<i class="bi bi-emoji-frown"></i></p>
                </div>
              </div>
            </div>
            <div class="accordion-item m-3">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What is the best team in the Bundesliga?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Borussia Mönchengladbach</p>
                </div>
              </div>
            </div>
            <div class="accordion-item m-3">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What is the best team in the world?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Also Borussia Mönchengladbach</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</main>
