<main>
    <div class="container-sm">
      <div class="text-light text-center m-3"><h1>Home</h1></div>
      <div>
        <p class="text-light">
          Op onze website kun je snel en eenvoudig een wedstrijd vinden die volledig bij je past. Je kan bovendien zoeken naar een goed hotel in de buurt van het stadion, parkeer gelegenheid voor ieder vervoersmiddel, een restaurantje of misschien liever iets gaan drinken, voor dit en zoveel meer tonen wij jou de opties.</p>
      </div>
      <app-leagues></app-leagues>
    </div>  
  </main>

