<footer>
    <div class="footer">
      <div>
        <img src="./Eindwerk-Front-end/Eindwerk-frontend-angular/src/assets/img/logo.png" height="80" />
      </div>
      <div>
        <p class="text-light">Copyright enzovoort enzovoort</p>
      </div>
      <div>
        <ul class="d-flex gap-3 list-unstyled">
          <li><a href="#"><i class="bi bi-facebook  text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter text-light"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram text-light"></i></a></li>
        </ul>
      </div>
    </div>
</footer>